.headBar {
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  display: flex;
  background-color: white;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid #b0b0b0;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoNC {
  height: 60px;
  width: auto;
  object-fit: cover;
}
.spacerOne {
  flex: 1;
}
.spacerTwo {
  flex: 1;
}
/*
.resourcesButton {
  width: 183px;
  height: 50px;
  align-items: center;
  margin-left: 80px;
  font-size: 20px;
  font-weight: bold;
  color: #1a4709;
  background-color: transparent;
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

.icon {
  font-size: 18px;
  color: #1a4709;
  margin-left: 15px;
  transform: translateY(18%);
}
  */
.buttonsDiv {
  display: flex;
  flex-direction: row;

  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

.logInButton {
  width: 121px;
  height: 45px;
  margin-right: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #1a4709;
  background-color: transparent;
}

.signUpButton {
  width: 121px;
  height: 45px;
  text-align: center;
  margin-right: 80px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #1a4709;
  vertical-align: middle;
}
